.main-layout {

  $mainWidth: 100%;
  $toolBarWidth: 216px;
  $headerItemHeight: 50px;
  $headerPadding: 10px;

  $headerHeight: $headerItemHeight + $headerPadding*2 + 1;

  $bg1: #fff;
  $bg2: #f1f1f1;
  $bg3: #fff;
  $bg4: #fff;

  .container {
    width: $mainWidth;
    margin: 0 auto;
  }

  .header {
    padding: $headerPadding 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background-color: $bg1;
    .logo {
      height: $headerItemHeight;
      width: 200px;
      background-color: #2c9264;
      color: #fff;
      text-align: center;
      line-height: $headerItemHeight;
      font-size: 20px;
    }

    .menu {
      .menu-item {
        height: $headerItemHeight;
        line-height: $headerItemHeight;
        font-size: 16px;
        float: left;
        a {
          color: #2c9264;
          padding: 0 22px;
          transition: opacity .4s ease;
        }
      }

      .menu-item a:hover,
      .menu-item.active a{
        text-decoration: underline;
      }
    }

    .user {
      height: $headerItemHeight;

      .face-box {
        display: flex;
        align-items: center;
        padding-left: 20px;
        cursor: pointer;

        .user-face {
          width: $headerItemHeight;
          height: $headerItemHeight;
          background-color: #DCDFE6;
          box-sizing: border-box;
          border: 1px solid #2c9264;
          border-radius: 50%;
          margin-right: 10px;
        }
        .user-name {
          color: #333;
        }
      }

    }

  }

  .main-content {
    width: $mainWidth;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    top: $headerHeight;

    .tool-bar {
      position: absolute;
      width: $toolBarWidth;
      bottom: 0;
      top: 0;
      left: 0;
      background-color: $bg1;

      border-right: 1px solid #e6e6e6;
      .el-menu {
        border-right: none;
      }
    }
    .show-content {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: $toolBarWidth;
      background-color: $bg2;
    }
  }
}
